

.pequeno {
    background-color: red;
    width: 250px;
    height: 200px;
}

#primer-h1 {
    color: white;
}

/*p {
    color: green;
    font-size: 50px;
}*/

html {
    font-size: 16px;
}

#div-ejemplo {
    position: relative;
    margin-top: 30px;
    border: 5px solid orange;
    width: 100vw;
    font-size: 20px;
    padding: 20px;
}

#div-ejemplo div {
    font-size: 5em; /*5*16 = 80px*/ 
}

#blue {
    background-color: blue;
    width: 10%;
}

#green {
    background-color: green;
    width: 50%;
}

#red {
    background-color: red;
    width: 60%;
}