* {
    margin: 0; /*Se reinicia el margin de todos los elementos a 0 */
    padding: 0; /*Se reinicia el padding de todos los elementos a 0 */
    box-sizing: border-box; /*El width del elemento se calcula tomando en cuenta el padding y el border*/
    font-family: Arial, Helvetica, sans-serif; /*Se define el font family para todos los elementos como Arial (Puede ser otro diferente) */
    scroll-behavior: smooth;
}

:root {
    --backgroung-principal: #3b419e; /*Variable que puede ser usada en cualquier parte del archivo con la función var() */
    --color-letra: white;
}

body {
    min-width: 100vw;
}

.header {
    position: fixed; /*El elmento es fijado al viewport, es decir que si se hace scroll, el elmento seguirá en la posición fijada*/
    top: 0;
    display: flex;
    width: 100%;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroung-principal);
    padding: 0 0.5rem 0 2rem; /*TOP: 0px RIGHT: 8px BOTTOM: 0px LEFT: 32px*/
}

.header h1 {
    color: var(--color-letra)
}

.header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 30vw;
    padding: 1rem;
    background-color: var(--backgroung-principal);
}

.navbar a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
    height: 50%;
    border-radius: 50%;
}

.link img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.link:hover {
    box-shadow: 0 0 2rem black;
    cursor: pointer;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--backgroung-principal);
}

.contenedor-texto {
    width: 40%;
    color: var(--color-letra);
}

.contenedor-texto h2 {
    font-size: 6rem;
    font-weight: 600; /*Que tanta negrilla se quiere*/
}

.seccion-uno img {
    border-radius: 50%;
    height: 50%;
}